/*----------CSS PARA MOBILE----------*/

body {
  margin: 0;
  color: white;
  font-family: Arial, Sans-Serif;
  background: black;
}

/* Cabeçario com a logo e nome */

header {
  background-color: black;
  width: 100vw;
  color: white;
  height: 7vh;
  position: fixed;
  top: 0;
}

.headerhero {
  background: black;
  display: flex;
  width: 100vw;
  height: 7vh;
}

.containerheader {
  display: flex;
  flex-direction: row;
  width: 36vw;
  margin-left: 1vw;
}

.logoheader img {
  height: 7vh;
  width: 13vw;
}

.tituloheader {
  font-size: 20px;
  margin-left: 1vw;
  font-family: "Chisel Decorative", serif;
}

/* Botão das Redes sociais */

header nav {
    width: 11vw;
    margin-left: 30vw;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 4vw;
    margin-top: 2vh;
}

header nav ul li img {
  width: 5.5vw;
  height: 3vh;
}

/* Tamanho Imagem principal do main */



/* Mexe com o main e com o menu de navegação*/

main {
  background: black;
  height: 80vh;
  margin-top: 7vh;
}

.menu {
  display: block;
  margin: 0 auto;
  width: 90vw;
  height: 6vh;
  border: 1px solid white;
  margin-top: 8vh;
  border-radius: 30px;
  align-content: center;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

#acontatos {
  color: #1E90FF;
  border-bottom: 4px solid #1E90FF;
}

/*  Mexe com o título do contato */

.titulocntt {
  display: flex;
  margin: 0 auto;
  margin-top: 1vw;
  width: 34vw;
  height: 5vh;
  font-size: 3rem;
  align-items: center;
  color: #1E90FF;
  font-family: "Chisel Decorative", serif;
}

/* Mexe com a lista das regras */

.tabelacntt {
  display: flex;
  margin: 0 auto;
  width: 90vw;
  height: 34vh;
  border: 1px solid white;
  margin-top: 6vh;
  border-radius: 30px;
  align-content: center;
  flex-direction: column;
}

.tabelacntt h2 {
  color: #1E90FF;
  font-family: "Chisel Decorative", serif;
  font-size: 3rem;
  padding-left: 5vw;
}

.tabelacntt h3 {
  color: white;
  font-size: 2.2rem;
  padding-left: 6vw;
}

/* Mexe com o a barra inferior(footer) */

footer {
  background-color: black;
  display: flex;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  margin-top: -1vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}




/*----------CSS PARA DESKTOP----------*/

@media (min-width: 1081px) {

body {
  margin: 0;
  color: white;
  font-family: Arial, Sans-Serif;
}

/* Cabeçario com a logo e nome */

header {
  background-color: black;
  width: 100vw;
  color: white;
  height: 10vh;
  position: fixed;
  top: 0;
}

.headerhero {
  background: black;
  display: flex;
  width: 100vw;
  height: 10vh;
}

.containerheader {
  display: flex;
  flex-direction: row;
  width: 36vw;
  margin-left: 1vw;
}

.logoheader img {
  height: 10vh;
  width: 5vw;
}

.tituloheader {
  font-size: 20px;
  margin-left: 1vw;
  font-family: "Chisel Decorative", serif;
}

/* Botão das Redes sociais */

header nav {
    width: 13.5vw;
    margin-left: 49vw;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 2vw;
    margin-top: 3.5vh;
}

header nav ul li img {
  width: 1.7vw;
  height: 3vh;
}

/* Tamanho Imagem principal do main */

#imagemprincipal {
  width: 40vw;
  display: flex;
  margin-right: 2.5vw;
  grid-column: 1;
  grid-row: 2;
  margin-top: -12vh;
}

/* Mexe com o main e com o menu de navegação*/

main {
  background: black;
  height: 90vh;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
}

.menu {
  display: block;
  margin: 0 auto;
  width: 95vw;
  height: 6vh;
  border: 1px solid white;
  margin-top: 1vh;
  border-radius: 15px;
  align-content: center;
  margin-bottom: 1vh;
  grid-column: 1;
  grid-row: 1;
  padding-bottom: 1vh;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 12vw;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

#acontato {
  color: #1E90FF;
  border-bottom: 4px solid #1E90FF;
}

/*  Mexe com o título do contato */

.titulocntt {
  display: flex;
  margin: 0 auto;
  margin-top: -10vh;
  width: 34vw;
  height: 5vh;
  font-size: 3rem;
  align-items: center;
  color: #1E90FF;
  font-family: "Chisel Decorative", serif;
  justify-content: center;
}

/* Mexe com a lista das regras */

.tabelacntt {
  display: flex;
  margin: 0 auto;
  width: 95vw;
  height: 56vh;
  border: 1px solid white;
  margin-top: 3vh;
  border-radius: 15px;
  align-content: center;
  flex-direction: column;
}

.tabelacntt h2 {
  color: #1E90FF;
  font-family: "Chisel Decorative", serif;
  font-size: 2.5rem;
  padding-left: 5vw;
}

.tabelacntt h3 {
  color: white;
  font-size: 1.2rem;
  padding-left: 6vw;
}

/* Mexe com o a barra inferior(footer) */

footer {
  background-color: black;
  display: flex;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  margin-top: -1vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  
 }
}