/*----------CSS PARA MOBILE----------*/

body {
  margin: 0;
  color: white;
  font-family: Arial, Sans-Serif;
}

/* Cabeçario com a logo e nome */

header {
  background-color: black;
  width: 100vw;
  color: white;
  height: 7vh;
  position: fixed;
  top: 0;
}

.headerhero {
  background: black;
  display: flex;
  width: 100vw;
  height: 7vh;
}

.containerheader {
  display: flex;
  flex-direction: row;
  width: 36vw;
  margin-left: 1vw;
}

.logoheader img {
  height: 7vh;
  width: 13vw;
}

.tituloheader {
  font-size: 20px;
  margin-left: 1vw;
  font-family: "Chisel Decorative", serif;
}

/* Botão das Redes sociais */

header nav {
    width: 11vw;
    margin-left: 30vw;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 4vw;
    margin-top: 2vh;
}

header nav ul li img {
  width: 5.5vw;
  height: 3vh;
}

/* Tamanho Imagem principal do main */

#imagemprincipal {
  width: 70vw;
  display: block;
  margin: 0 auto;
}

/* Mexe com o main e com o menu de navegação*/

main {
  background: black;
  height: 110vh;
  margin-top: 7vh;
}

.menu {
  display: block;
  margin: 0 auto;
  width: 90vw;
  height: 6vh;
  border: 1px solid white;
  margin-top: 1vh;
  border-radius: 30px;
  align-content: center;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

#ainicio {
  color: #1E90FF;
  border-bottom: 4px solid #1E90FF;
}

/* Mexe com as vantagens e o sobre nós */

.vantagens {
  display: block;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 30px;
  margin-top: 1vh;
  width: 90vw;
  height: 26vh;
}

.sobrenos {
  text-align: left;
  width: 40vw;
  height: 24vh;
}

.sobrenos h1 {
  text-align: center;
  color: #1E90FF;
  font-family: "Chisel Decorative", serif;
  font-size: 2.5rem;
  margin-bottom: -1vh;
}

.sobrenos p {
  font-size: 1.8rem;
  padding-left: 2vw;
}


.linhameio {
  background-color: white;
  width: 1px;
  display: block;
  margin: 0 auto;
  height: 24vh;
  margin-top: -24.2vh;
}

.gradevantagem {
  display: grid;
  text-align: center;
  grid-template-columns: 20vw 20vw;
  grid-template-rows: 12vh 12vh;
  justify-content: right;
  margin-top: -23vh;
  margin-right: 1vw;
  gap: 20px;
  
}

.espacovantagem img {
  height: 3vh;
}

.espacovantagem p {
  font-size: 1.7rem;
  font-weight: bold;
}

.espacovantagem h1 {
  margin-top: -1vh;
  font-size: 2.5rem;
  color: #1E90FF;
}

/* Mexe com a tabela de Recrutamento */

.requisitos {
  display: block;
  border: 1px solid white;
  width: 90vw;
  height: 20vh;
  margin: 0 auto;
  margin-top: 1vh;
  border-radius: 30px;
}

.textorequisitos {
  text-align: left;
  height: 19vh;
  width: 40vw;
  margin-left: 1vw;
}

.textorequisitos h1 {
  text-align: center;
  color: #1E90FF;
  font-family: "Chisel Decorative", serif;
  font-size: 2.5rem;
  margin-bottom: -1.5vh;
}

.textorequisitos h4 {
  padding-left: 1vw;
  font-size: 2.1rem;
  font-family: "Chisel Decorative", serif;
  margin-bottom: -1vh;
}

.textorequisitos ul {
  color: #1E90FF;
  font-size: 2rem;
}

.textorequisitos span {
  color: white;
}

.caixacrew {
  display: block;
  margin-left: auto;
  margin-top: -19vh;
  margin-right: 4vw;
  width: 45vw;
  height: 19vh;
  right: 1;
  align-items: center;
}

#botaocrew {
  display: flex;
  background-color: #1E90FF;
  border: none;
  border-radius: 15px;
  height: 4vh;
  width: 45vw;
  margin: 0 auto;
  margin-top: 6.6vh;
  align-items: center;
  font-size: 2.5rem;
  color: black;
  font-family: "Chisel Decorative", serif;
  font-weight: bold;
  padding-left: 5vw;
}


/* tela cadastro */

.modal{

    position: fixed;
    inset: 0;

    background: black;

    display: none;

    justify-content: center;
    align-items: center;

}



.box{

    background: #111;
    padding: 30px;
    border-radius: 15px;
    width: 85vw;
    height: 64vh;
    color: white;
}

.box h1 {
  color: #1E90FF;
  text-align: center;
  font-size: 4rem;
  font-family: "Chisel Decorative", serif;
}

form{

    display: flex;
    flex-direction: column;
    gap: 15px;

}

input,
select{

    padding: 10px;
    margin-bottom: 40px;
    border: none;
    border-radius: 10px;
    height: 4vh;
    background: #1b1b1b;
    color: white;
    font-size: 2.6rem;

}

label {
  font-family: "Chisel Decorative", serif;
  color: white;
  font-size: 3rem;
}

form button{

    padding: 12px;

    border: none;
    border-radius: 10px;
    font-size: 2.5rem;
    background: #5865F2;
    color: white;
    height: 5vh;
    cursor: pointer;
    font-family: "Chisel Decorative", serif;
}

#fechar{

    margin-top: 20px;

    width: 100%;

    padding: 10px;
    font-family: "Chisel Decorative", serif;
    border: none;
    border-radius: 10px;
    font-size: 2.5rem;
    background: #222;
    color: white;
    height: 5vh;
}

.botaocrew span {
  color: white;
  font-size: 4.5rem;
  padding-top: 0.3vh;
  padding-left: 1vw;
}

/* Mexe com botão de Entrar no Discord */

.caixadc {
  display: flex;
  border: 1px solid white;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 1vh;
  width: 90vw;
  height: 8vh;
}

.btndcetexto {
  display: flex;
  flex-direction: none;
  
}

.caixadc img {
  height: 7vh;
  width: 13vw;
  margin: 10px;
}

.textodc {
  width: 41vw;
  padding-top: 1vh;
  color: #5865F2;
  font-size: 1.4rem;
  font-family: "Chisel Decorative", serif;
}

.textodc p {
  color: white;
  font-family: Arial, Sans-Serif;
  font-size: 1.5rem;
  margin-top: -1.5vh;
}

.caixabtndc {
  display: flex;
  width: 32vw;
  justify-content:  center;
  align-items: center;
}

.botaodc {
  display: flex;
  height: 4vh;
  width: 24vw;
  border: none;
  background-color: #5865F2;
  align-items: center;
  font-size: 2.5rem;
  font-family: "Chisel Decorative", serif;
  padding-left: 4vw;
  color: white;
  border-radius: 15px;
}

.botaodc span {
  font-size: 4.5rem;
}

/* Mexe com o a barra inferior(footer) */

footer {
  background-color: black;
  display: flex;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  margin-top: -1vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}


/*----------CSS PARA DESKTOP----------*/

@media (min-width: 1081px) {

body {
  margin: 0;
  color: white;
  font-family: Arial, Sans-Serif;
}

/* Cabeçario com a logo e nome */

header {
  background-color: black;
  width: 100vw;
  color: white;
  height: 10vh;
  position: fixed;
  top: 0;
}

.headerhero {
  background: black;
  display: flex;
  width: 100vw;
  height: 10vh;
}

.containerheader {
  display: flex;
  flex-direction: row;
  width: 36vw;
  margin-left: 1vw;
}

.logoheader img {
  height: 10vh;
  width: 5vw;
}

.tituloheader {
  font-size: 20px;
  margin-left: 1vw;
  font-family: "Chisel Decorative", serif;
}

/* Botão das Redes sociais */

header nav {
    width: 13.5vw;
    margin-left: 49vw;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 2vw;
    margin-top: 3.5vh;
}

header nav ul li img {
  width: 1.7vw;
  height: 3vh;
}

/* Tamanho Imagem principal do main */

#imagemprincipal {
  width: 40vw;
  display: flex;
  margin-right: 2.5vw;
  grid-column: 1;
  grid-row: 2;
  margin-top: -12vh;
}

/* Mexe com o main e com o menu de navegação*/

main {
  background: black;
  height: 140vh;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;

}

.menu {
  display: block;
  margin: 0 auto;
  width: 95vw;
  height: 6vh;
  border: 1px solid white;
  margin-top: 1vh;
  border-radius: 15px;
  align-content: center;
  margin-bottom: 1vh;
  grid-column: 1;
  grid-row: 1;
  padding-bottom: 1vh;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 12vw;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

#ainicio {
  color: #1E90FF;
  border-bottom: 4px solid #1E90FF;
}

/* Mexe com as vantagens e o sobre nós */

.vantagens {
  display: block;
  margin-left: 2vw;
  border: 1px solid white;
  border-radius: 15px;
  margin-top: -10vh;
  width: 50vw;
  height: 75vh;
  grid-column: 1;
  grid-row: 2;
}

.sobrenos {
  text-align: left;
  width: 49.3vw;
  height: 30vh;
  margin-top: -3vh;
}

.sobrenos h1 {
  text-align: center;
  color: #1E90FF;
  font-family: "Chisel Decorative", serif;
  font-size: 3.9rem;
  margin-bottom: -1vh;

}

.sobrenos p {
  font-size: 1.8rem;
  padding-left: 2vw;
}

.linhameio {
  display: none;
}

.gradevantagem {
  display: grid;
  text-align: center;
  grid-template-columns: 20vw 20vw;
  grid-template-rows: 12vh 12vh;
  justify-content: center;
  margin-top: 2vh;
  margin-right: 1vw;
  gap: 5rem;
  
}

.espacovantagem img {
  height: 5vh;
}

.espacovantagem p {
  font-size: 1.7rem;
  font-weight: bold;
}

.espacovantagem h1 {
  margin-top: -3vh;
  font-size: 2.5rem;
  color: #1E90FF;
}

/* Mexe com a tabela de Recrutamento */

.requisitos {
  display: block;
  border: 1px solid white;
  width: 46.5vw;
  height: 40vh;
  margin-left: 2vw;
  margin-top: -8vh;
  border-radius: 15px;
  grid-column: 1;
  grid-row: 3;
}

.textorequisitos {
  text-align: left;
  height: 19vh;
  width: 40vw;
  margin-left: 1vw;
}

.textorequisitos h1 {
  text-align: center;
  color: #1E90FF;
  font-family: "Chisel Decorative", serif;
  font-size: 2.5rem;
  margin-bottom: -1.5vh;
}

.textorequisitos h4 {
  padding-left: 1vw;
  font-size: 2.1rem;
  font-family: "Chisel Decorative", serif;
  margin-bottom: -1vh;
  margin-top: 2vh;
}

.textorequisitos ul {
  color: #1E90FF;
  font-size: 2rem;
  margin-left: 1.5vw;
}

.textorequisitos span {
  color: white;
}

.caixacrew {
  display: block;
  margin-left: auto;
  margin-top: -19vh;
  margin-right: 4vw;
  width: 46.5vw;
  height: 19vh;
  right: 1;
  align-items: center;
}

#botaocrew {
  display: flex;
  background-color: #1E90FF;
  border: none;
  border-radius: 15px;
  height: 5vh;
  width: 43vw;
  margin: 0 auto;
  margin-top: 32vh;
  align-items: center;
  font-size: 2.5rem;
  color: black;
  font-family: "Chisel Decorative", serif;
  font-weight: bold;
  padding-left: 5vw;
  cursor: pointer;
  outline: none;

}

#botaocrew span {
  color: white;
  font-size: 4.5rem;
  padding-top: 0.3vh;
  padding-left: 0.5vw;
}

/* tela cadastro */

.modal{

    position: fixed;
    inset: 0;

    background: black;
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;

}

.box{

    background: #111;
    padding: 30px;
    border-radius: 15px;
    width: 40vw;
    height: 70vh;
    color: white;
    margin-bottom: 0vh;
    border: 1px solid white;
}

.box h1 {
  color: #1E90FF;
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
  font-family: "Chisel Decorative", serif;
}

form{

    display: flex;
    flex-direction: column;
    gap: 15px;

}

input,
select{

    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    height: 3vh;
    background: #1b1b1b;
    color: white;
    font-size: 1.5rem;

}
select {
  height: 5vh;
}

label {
  font-family: "Chisel Decorative", serif;
  color: white;
  font-size: 2rem;
  margin-bottom: -1vh;
}

form button{

    padding: 12px;

    border: none;
    border-radius: 10px;
    font-size: 2.5rem;
    background: #5865F2;
    color: white;
    height: 5.5vh;
    cursor: pointer;
    font-family: "Chisel Decorative", serif;
    display: flex;

    justify-content: center;
    align-items: center;
}

#fechar{

    margin-top: 20px;

    width: 100%;

    padding: 10px;
    font-family: "Chisel Decorative", serif;
    border: none;
    border-radius: 10px;
    font-size: 2.5rem;
    background: #222;
    color: white;
    height: 5vh;
    display: flex;

    justify-content: center;
    align-items: center;
}

.botaocrew span {
  color: white;
  font-size: 4.5rem;
  padding-top: 0.3vh;
  padding-left: 1vw;
}


/* Mexe com botão de Entrar no Discord */

.caixadc {
  display: flex;
  border: 1px solid white;
  border-radius: 15px;
  margin-right: 2vw;
  margin-top: -8vh;
  width: 46.5vw;
  height: 40vh;
  grid-column: 1;
  grid-row: 3;
  flex-direction: column;
}

.btndcetexto {
  display: flex;
  flex-direction: row;
  
}

.caixadc img {
  height: 11vh;
  width: 6vw;
  margin: 10px;
  padding-top: 5.5vh;
}

.textodc {
  width: 41vw;
  height: 20vh;
  padding-top: 1vh;
  color: #5865F2;
  font-size: 1.4rem;
  font-family: "Chisel Decorative", serif;
  margin-top: 4vh;
}

.textodc p {
  color: white;
  font-family: Arial, Sans-Serif;
  font-size: 1.5rem;
  margin-top: -1.5vh;
  padding-left: 1px;
}

.caixabtndc {
  display: flex;
  width: 46.5vw;
  height: 6vh;
  justify-content:  center;
  align-items: center;
}

.botaodc {
  display: flex;
  height: 5vh;
  width: 24vw;
  border: none;
  background-color: #5865F2;
  align-items: center;
  font-size: 2.5rem;
  font-family: "Chisel Decorative", serif;
  padding-left: 8.5vw;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.botaodc span {
  font-size: 4.5rem;
  padding-left: 0.5vw;
  padding-top: 0.3vh;
}

/* Mexe com o a barra inferior(footer) */

footer {
  background-color: black;
  display: flex;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  margin-top: -1vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
 }
}