/*----------CSS PARA MOBILE----------*/

body {
  margin: 0;
  color: white;
  font-family: Arial, Sans-Serif;
  background: black;
}

/* Cabeçario com a logo e nome */

header {
  background-color: black;
  width: 100vw;
  color: white;
  height: 7vh;
  position: fixed;
  top: 0;
}

.headerhero {
  background: black;
  display: flex;
  width: 100vw;
  height: 7vh;
}

.containerheader {
  display: flex;
  flex-direction: row;
  width: 36vw;
  margin-left: 1vw;
}

.logoheader img {
  height: 7vh;
  width: 13vw;
}

.tituloheader {
  font-size: 20px;
  margin-left: 1vw;
  font-family: "Chisel Decorative", serif;
}

/* Botão das Redes sociais */

header nav {
    width: 11vw;
    margin-left: 30vw;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 4vw;
    margin-top: 2vh;
}

header nav ul li img {
  width: 5.5vw;
  height: 3vh;
}

/* Tamanho Imagem principal do main */



/* Mexe com o main e com o menu de navegação*/

main {
  background: black;
  height: 110vh;
  margin-top: 7vh;
}

.menu {
  display: block;
  margin: 0 auto;
  width: 90vw;
  height: 6vh;
  border: 1px solid white;
  margin-top: 8vh;
  border-radius: 30px;
  align-content: center;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

#acontatos {
  color: #1E90FF;
  border-bottom: 4px solid #1E90FF;
}

/*  Mexe com o título do contato */

table{

    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 2vh;
}

th{

    background: #5865F2;
    padding: 15px;

}

td{

    background: #111;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #222;

}

/* Mexe com o a barra inferior(footer) */

footer {
  background-color: black;
  display: flex;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  margin-top: -1vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}